@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
	--width: 350px;
	--perimeter-padding: 15px;
	--container-height: 30px;
	--blue: #285f82;
	--blue-hover: #297f99;
	--blue-focus: #73cbe5;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	width: var(--width);
	padding: var(--perimeter-padding);
}

.header {
	height: 2.5em;
	margin-bottom: var(--perimeter-padding);
	display: flex;
	justify-content: space-between;
}

.container {
	height: var(--container-height);
	display: flex;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--blue);
}

.container input {
	width: 100%;
	height: 100%; /* Ensure .container and input borders align. */
	padding: 0 7px 0 0;
	border: none;
	outline: none;
}

.container input:focus {
	border-bottom: 1px solid var(--blue-focus);
}

.container ::placeholder {
	color: #dcdcdc;
	opacity: 1;
}

.content {
	text-align: right;
}

.container button {
	all: unset;
}

.container img {
	display: block;
	height: 65%;
	width: 19.5px; /* Firefox. */
	margin: 0 .5em 0 .5em;
}

#hide {
	display: none;
}

#save {
	all: unset;
	width: 55px;
	height: var(--container-height);
	margin-top: 10px;
	border-radius: var(--container-height);
	background-color: var(--blue);
	font-size: small;
	text-align: center;
	color: white;
}

#save:hover {
	background-color: var(--blue-hover);
}
