@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
	--background-color-top: white;
	--background-color-bottom: white;
	--color: black;
	--separator-color: lightgray;
	--changes-background-color: rgb(204, 241, 238);
	--button-background-color: black;
	--button-background-color-hover: rgb(40, 40, 40);
	--button-color: white;
	--table-background-color-top: rgba(0, 0, 0, .05);
	--table-background-color-bottom: transparent;
	--table-img-shadow-color: rgba(0, 0, 0, .15);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color-top: #0f171b;
		--background-color-bottom: rgb(24, 56, 53);
		--color: rgb(243, 243, 243);
		--separator-color: rgb(50, 59, 59);
		--changes-background-color: rgb(67, 104, 100);
		--button-background-color: rgb(165, 215, 210);
		--button-background-color-hover: rgb(204, 241, 238);
		--button-color: black;
		--table-background-color-top: rgba(0, 0, 0, .15);
		--table-img-shadow-color: rgba(0, 0, 0, .3);
	}
}

html {
	background-color: var(--background-color-top);
}

body {
	margin: 0;
	background-image: linear-gradient(var(--background-color-top), var(--background-color-bottom));
	background-attachment: fixed;
	font-family: 'Inter', sans-serif;
	font-size: 1.2rem;
	color: var(--color);
}

main {
	opacity: 0;
}

.markdown {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 1100px;
	margin: 0 auto;
	padding: 45px;
}

@media (max-width: 767px) {
	.markdown {
		padding: 15px;
	}
}

#header {
	display: flex;
	align-items: center;
	font-size: 3rem;
	font-weight: 600;
	border-bottom: 2px solid var(--separator-color);
	padding-bottom: 1rem;
	margin-bottom: 2.5rem;
	cursor: pointer;
}

#header img {
	height: 4.5rem;
	margin-right: 1.3rem;
}

#changes {
	display: none;
	background-color: var(--changes-background-color);
	font-size: medium;
	padding: .05rem 1.5rem .5rem 1.5rem;
	border-radius: .5rem;
}

#changes-header {
	height: 3.25rem;
	display: flex;
	justify-content: space-between;
}

#changes-dismiss {
	font-size: 2rem;
	font-weight: 200;
	color: var(--button-background-color);
	transition: color .1s ease-in-out;
	padding: .6rem 0 0 0;
	cursor: pointer;
}

#changes-dismiss:hover {
	color: var(--button-background-color-hover);
}

#abstract {
	padding-top: 1rem;
	font-size: 1.5rem;
	padding-bottom: 1.5rem;
}

a {
	display: inline-block;
	text-align: center;
	margin-right: 1.5rem;
	padding-top: .8rem;
	padding-bottom: .8rem;
}

a.primary {
	background-color: var(--button-background-color);
	transition: background-color .1s ease-in-out;
	border-radius: .5rem;
	font-size: 1.5rem;
	font-weight: 500;
	text-decoration: none;
	color: var(--button-color);
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

a.primary:hover {
	background-color: var(--button-background-color-hover);
}

a.secondary {
	font-size: 1.1rem;
	color: var(--button-background-color);
}

#highlights {
	background-image: linear-gradient(var(--table-background-color-top), var(--table-background-color-bottom));
	border-radius: 1rem;
	margin-top: 4.5rem;
}

#highlights thead {
	display: none;
}

#highlights table img {
	width: 100%;
	filter: drop-shadow(0 1rem .5rem var(--table-img-shadow-color));
	border-radius: .4rem;
}

#highlights td:first-child {
	width: 40%;
}

#highlights td {
	padding: 2rem;
}

#highlights .disclaimer {
	font-style: normal;
	opacity: .5;
}

footer {
	text-align: center;
	font-size: 1rem;
	opacity: .25;
	padding-top: 5.8rem;
	padding-bottom: .2rem;
}

footer a {
	color: inherit;
}
